
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<div class="modal-body">
    <div class="preview_header">
      <h1 title="{{resume.resumename}}的简历">{{resume.resumename}}的简历</h1>
      <a style="padding:2px 15px;margin-left:10px;" ng-click="interview()" class="inline cboxElement" title="通知面试">通知面试</a>
      <a id="downloadResume" class="inline cboxElement" title="下载简历">下载该简历</a>
    </div>
    <div id="resumeModal" class="preview_content">
      <div id="firstPart">
      <div id="basicInfo" class="profile_box">
        <h2>基本信息</h2>
        <div class="basicShow">
          <span>
            <span class="fa fa-user"></span>
            <span ng-if="resume.name"> {{resume.name}} </span>
            <span ng-if="resume.gender"> | {{resume.gender}}</span>
            <span ng-if="resume.nation"> | {{resume.nation}}</span>
            <span ng-if="resume.birthed"> | {{resume.birthed}}</span>
            <span ng-if="resume.politic"> | {{resume.politic}}</span>
            <span ng-if="resume.weight"> | {{resume.weight}}cm</span>
            <span ng-if="resume.height"> | {{resume.height}}kg</span>
            <span ng-if="resume.married"> | {{resume.married}}</span>
            <span ng-if="resume.child"> | {{resume.child}}</span><br>
            <span class="fa fa-phone"></span>
            <span ng-if="resume.phone"> {{resume.phone}}</span>
            <span class="fa fa-envelope"></span>
            <span ng-if="resume.email">{{resume.email}}</span>
            <span ng-if="resume.health"> | {{resume.health}}(身体状况)</span><br>
            <span class="fa fa-credit-card"></span>
            <span ng-if="resume.idCard">{{resume.idCard}}(身份证)</span>
            <span ng-if="resume.experience==='应届毕业生'">| {{resume.experience}}</span>
            <span ng-if="resume.experience!=='应届毕业生'">| {{resume.experience}}工作经验</span><br>
            <span class="fa fa-home"></span>
            <span ng-if="resume.address">{{resume.address}}(通讯地址)</span>
            <span ng-if="resume.workunit"> | {{resume.workunit}}(现工作单位)</span>
            <span ng-if="resume.post"> | {{resume.post}}(职务)</span><br>
            <span class="fa fa-map-marker"></span>
            <span ng-if="resume.origin">{{resume.origin}}(籍贯)</span>
            <span ng-if="resume.domicile"> | {{resume.domicile}}(现户籍地)</span>
            <span ng-if="resume.status"> | {{resume.status}}(目前状态)</span><br>
            <span ng-if="resume.honor" class="fa fa-graduation-cap"></span>
            <span ng-if="resume.honor">{{resume.honor}}(最高荣誉)</span>
          </span>
          <div class="m_portrait">
            <img ng-src="{{resume.icon}}" height="120" width="120">
          </div>
        </div>
      </div>

      <div id="educationalBackground" class="profile_box">
        <h2>教育背景</h2>
        <div class="educationalShow">
          <ul class="elist clearfix">
            <li class="clear" ng-repeat="vo in resume.education">
              <span class="c9">{{vo.began}} - {{vo.ended}}</span>
              <div>
                <h3>{{vo.school}}</h3>
                <h4>{{vo.profession}}，{{vo.degree}}, {{vo.nature}}</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div id="workExperience" class="profile_box" ng-show="resume.work.length>0">
        <h2>工作经历</h2>
        <div class="experienceShow">
          <ul class="wlist clearfix" style="padding:0px 0px 0px 25px">
            <li class="clear" ng-repeat="vo in resume.work">
              <span class="c9">{{vo.yearStart}}.{{vo.monthStart}} - {{vo.yearEnd}}.{{vo.monthEnd}}</span>
              <div>
                <h3>{{vo.company}}</h3>
                <h4>{{vo.position}}</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div id="family" class="profile_box" ng-show="resume.family.length>0">
        <h2>家庭成员</h2>
        <div class="familyShow" style="margin-left: 25px;">
          <ul class="flist clearfix" style="padding:0">
            <li style="list-style-type:none;margin:0px;" ng-repeat="family in resume.family">
              <div class="familyList">
                <div class="f16 mb10 fixed_width">
                  {{family.name}}，{{family.company}}，{{family.position}}
                  <span class="c9">（{{family.relation}}）</span>
                </div>
                <div class="dl1">
                  {{family.domicile}}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div id="projectExperience" class="profile_box" ng-show="resume.project.length>0">
        <h2>项目经验</h2>
        <div class="projectShow">
          <ul class="plist clearfix">
            <li class="noborder" ng-repeat="vo in resume.project">
              <div class="projectList">
                <div class="f16 mb10">{{vo.name}}，{{vo.position}}
                  <span class="c9">（{{vo.yearStart}}.{{vo.monthStart}} - {{vo.yearEnd}}.{{vo.monthEnd}}）</span>
                  }
                </div>
                <div class="dl1">
                  {{vo.description}}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div id="certificate" class="profile_box" ng-show="resume.certificate.length>0">
        <h2>证书等级</h2>
        <div class="certificateShow">
          <ul class="clist clearfix">
            <li class="clear" ng-repeat="vo in resume.certificate">
              <span class="c9">{{vo.gotYear}}.{{vo.gotMonth}}</span>
              <div>
                <h3>{{vo.name}}</h3>
                <h4>{{vo.nature}}</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>

        <div id="prize" class="profile_box" ng-show="resume.prize">
          <h2>奖惩情况</h2>
          <div class="prizeShow">
            <p>{{resume.prize}}</p>
          </div>
        </div>

        <div id="strength" class="profile_box" ng-show="resume.strength">
          <h2>特长技能</h2>
          <div class="strengthShow">
            <p>{{resume.strength}}</p>
          </div>
        </div>
      </div>

    </div>
</div>
<script>
  $(function(){
      var scope = $('#resumeModal').scope();
      $('#downloadResume').on('click', function(){
          var pdf = new jsPDF('p', 'mm', 'a3');
          var options = {
//              format: 'JPEG',
              background: '#ffffff'
          };
          printbypage(pdf, 0, options);
      })
      function printbypage(pdf, k, options){
          var firstPartPage = $('#firstPart')[0],
              secondPartPage = $('#secondPart')[0],
              filename = scope.resume.name+'简历.pdf';
          console.log('firstPartPage',firstPartPage)
          console.log('secondPartPage',secondPartPage)
//          if(k <= 5) {
//              pdf.output('save', 'resume.pdf');
//          }
          pdf.addHTML(firstPartPage, 20, 5, options, function () {

          });
//          setTimeout(function() {
//              console.log('in printbypage 2')
//              pdf.addHTML(secondPartPage,0,0, {background: '#000000'}, function(){});
//          }, 500);
          setTimeout(function() {
              pdf.output('dataurlnewwindow');
              pdf.output('save', filename);
          }, 600);
      };
  });
</script>