<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Huafa Education Recruitment</title>
	<link rel="Shortcut Icon" href="#">
	<link rel="stylesheet" type="text/css" href="../../../css/style.css" />
	<link rel="stylesheet" type="text/css" href="../../../lib/font-awesome/css/font-awesome.min.css" />
</head>
<body>

<div id="previewWrapper">
	<div class="preview_header">
		<h1 title="{{resume.resumename}}的简历">{{resume.resumename}}的简历</h1>
	</div>

	<div class="preview_content">
		<div id="basicInfo" class="profile_box">
			<h2>基本信息</h2>
			<div class="basicShow">
				{% if resume.name %}<span>姓名：{{resume.name}} </span>{% endif %}
				{% if resume.gender %}<span>性别：{{resume.gender}}</span>{% endif %}
				{% if resume.nation %}<span >民族：{{resume.nation}}</span>{% endif %}
				{% if resume.birthed %}<span >出生日期：{{resume.birthed}}</span>{% endif %}
				{% if resume.politic %}<span >政治面貌：{{resume.politic}}</span>{% endif %}
				{% if resume.health %}<span >身体状况：{{resume.health}}</span>{% endif %}
				{% if resume.firstdegree %}<span >第一学历：{{resume.firstdegree}}</span>{% endif %}
				{% if resume.highdegree %}<span >最高学历：{{resume.highdegree}}</span>{% endif %}
				{% if resume.height %}<span >身高：{{resume.height}}kg</span>{% endif %}
				{% if resume.weight %}<span >体重：{{resume.weight}}cm</span>{% endif %}
				{% if resume.married %}<span >婚姻状况：{{resume.married}}</span>{% endif %}
				{% if resume.child %}<span >子女状况：{{resume.child}}</span>{% endif %}
				{% if resume.origin %}<span>籍贯：{{resume.origin}}</span>{% endif %}
				{% if resume.domicile %}<span>现户籍地：{{resume.domicile}}</span>{% endif %}
				{% if resume.experience&&resume.experience==='应届毕业生'%}<span>工作经验：{{resume.experience}}</span>{% endif %}
				{% if resume.experience&&resume.experience!=='应届毕业生' %}<span >工作经验：{{resume.experience}}</span>{% endif %}
				{% if resume.status %}<span>目前状态：{{resume.status}}</span>{% endif %}
				{% if resume.workunit %}<span>最近工作单位：{{resume.workunit}}</span>{% endif %}
				{% if resume.post %}<span>最近工作职务：{{resume.post}}</span>{% endif %}
				{% if resume.currentsalary %}<span >目前年薪：{{resume.currentsalary}}万元人民币</span>{% endif %}
				{% if resume.expectsalary %}<span >期望年薪：{{resume.expectsalary}}万元人民币</span>{% endif %}
				{% if resume.phone %}<span >手机：{{resume.phone}}</span>{% endif %}
				{% if resume.email %}<span >邮箱：{{resume.email}}</span>{% endif %}
				{% if resume.address %}<span>通讯地址：{{resume.address}}</span>{% endif %}
				{% if resume.idCard %}<span >身份证：{{resume.idCard}}</span>{% endif %}
				{% if resume.honor %}<span>最高荣誉：{{resume.honor}}</span>{% endif %}
				<div class="m_portrait">
					<img src="../../../{{resume.icon}}" alt="{{resume.resumename}}" height="120" width="120">
				</div>
			</div>
		</div>

		<div id="educationalBackground" class="profile_box">
			<h2>教育背景</h2>
			<div class="educationalShow">
				<ul class="elist clearfix">
					{% for vo in resume.education %}
						<li>
							<span class="c9">{{vo.began}} - {{vo.ended}}</span>
							<div>
								<h3>{{vo.school}}</h3>
								<h4>{{vo.profession}}，{{vo.degree}}, {{vo.nature}}</h4>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		{% if resume.work.length>0 %}
		<div id="workExperience" class="profile_box">
			<h2>工作经历</h2>
			<div class="experienceShow">
				<ul class="wlist clearfix">
					{% for vo in resume.work %}
						<li class="clear">
							<span class="c9">{{vo.yearStart}}.{{vo.monthStart}} - {{vo.yearEnd}}.{{vo.monthEnd}}</span>
							<div>
								<h3>{{vo.company}}</h3>
								<h4>{{vo.position}}</h4>
							</div>
							<h5>
								{{vo.description}}
							</h5>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}

		{% if resume.project.length>0 %}
		<div id="projectExperience" class="profile_box">
			<h2>项目经验</h2>
			<div class="projectShow">
				<ul class="plist clearfix">
					{% for vo in resume.project %}
					<li class="noborder">
						<div class="projectList">
							<div class="f16 mb10">{{vo.name}}，{{vo.position}}
								<span class="c9">（{{vo.yearStart}}.{{vo.monthStart}} - {{vo.yearEnd}}.{{vo.monthEnd}}）</span>
							</div>
							<div class="dl1">
								{{vo.description}}
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}

		{% if resume.certificate.length>0 %}
		<div id="certificate" class="profile_box">
			<h2>证书等级</h2>
			<div class="certificateShow">
				<ul class="clist clearfix">
					{% for vo in resume.certificate %}
					<li>
						<span class="c9">{{vo.gotYear}}.{{vo.gotMonth}}</span>
						<div>
							<h3>{{vo.name}}</h3>
							<h4>{{vo.nature}}</h4>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}

		{% if resume.prize %}
		<div id="prize" class="profile_box">
			<h2>奖惩情况</h2>
			<div class="prizeShow">
				<p>{{resume.prize}}</p>
			</div>
		</div>
		{% endif %}

		{% if resume.family.length>0 %}
		<div id="family" class="profile_box">
			<h2>家庭成员</h2>
			<div class="familyShow">
				<ul class="flist clearfix" style="padding:0">
					{% for family in resume.family %}
					<li style="list-style-type:none;margin:0px;">
						<div class="familyList">
							<div class="f16 mb10 fixed_width">
								{{family.name}}，{{family.company}}，{{family.position}}
								<span class="c9">（{{family.relation}}）</span>
							</div>
							<div class="dl1">
								{{family.domicile}}
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}

		{% if resume.strength %}
		<div id="strength" class="profile_box">
			<h2>特长技能</h2>
			<div class="strengthShow">
				<p>{{resume.strength}}</p>
			</div>
		</div>
		{% endif %}

		{% if resume.remark %}
		<div id="remark" class="profile_box">
			<h2>备注</h2>
			<div class="remarkShow">
				<p>{{resume.remark}}</p>
			</div>
		</div>
		{% endif %}

	</div>
</div>

<!--<div style="display:none;">-->
	<!--&lt;!&ndash; 下载简历 &ndash;&gt;-->
	<!--<div id="downloadOnlineResume" class="popup">-->
		<!--<table width="100%">-->
			<!--<tbody><tr>-->
				<!--<td class="c5 f18">请选择下载简历格式：</td>-->
			<!--</tr>-->
			<!--<tr>-->
				<!--<td>-->
					<!--<a href="" class="btn_s">word格式</a>-->
					<!--<a href="" class="btn_s">html格式</a>-->
					<!--<a href="" class="btn_s">pdf格式</a>-->
				<!--</td>-->
			<!--</tr>-->
			<!--</tbody></table>-->
	<!--</div>-->
<!--</div>-->

</body>
</html>